body{
    background-image: url("../images/background/background.jpg");
}
.cuadro-header{
    margin-top: 200px;
    margin-left: 300px;
}
.text-dark{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
}
h1{
    margin-top: 220px;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
}
h4, p{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}
li{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
#botones{
    border: 0px;
}
.sobre-mi{
    background-image: url("../images/background/sobre-mi.jpg");
    opacity: 0.25;
}
.sobre-mi:hover{
    opacity: 1;
}
.sobre-mi p{
    background-color: blanchedalmond;
    opacity: 0.3 ;
}
.sobre-mi p:hover{
    background-color: blanchedalmond;
    opacity: 0.75 ;
}
.sobre-mi li{
    background-color: blanchedalmond;
    opacity: 0.3 ;
}
.sobre-mi li:hover{
    background-color: blanchedalmond;
    opacity: 0.75 ;
}    
#about{
    width: 2000px;
}